<%= form_for(@profile) do |f| %>
  <% if @profile.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@profile.errors.count, "error") %> prohibited this profile from being saved:</h2>

      <ul>
      <% @profile.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :first %> Name<br />
    <%= f.text_field :first %>
  </div>
  <div class="field">
    <%= f.label :last %> Name<br />
    <%= f.text_field :last %>
  </div>
  <div class="field">
    <%= f.label :favorite %> Team<br />
    <%= collection_select(:profile, :favorite, Team.all, :id, :full_name) %>
  </div>

<% if league_admin? %>
  <div class="field">
    <%= f.label :paid %><br />
    <%= f.check_box :paid %>
  </div>
<% end %>
<% unless has_profile? %>
  <div>
	<%= f.label :num_of_picks %><br />
	<%= select_tag(:num_of_picks, options_for_select(1..16)) %><br />
  </div>

<p>  <div class="field">
    <%= f.label :league %> Team<br />
    <%= collection_select(:profile, :league_id, League.all, :id, :name) %>
  </div>
</p>
<% end %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
