<h1>Listing Players</h1>

<table>
  <tr>
    <th></th>
    <% if league_admin? %><th></th><% end %>
    <th>First Name</th>
    <th>Last name</th>
    <th>Paid</th>
    <th>Picks Left</th>
    <% if league_admin? %><th></th><% end %>
    <% (1..17).each do |week| %>
      <th>Week <%= week %></th>
    <% end %>

    <th></th>
  </tr>

<% @profiles.each do |profile| %>
  <tr>
    <td><%= link_to 'View', profile %></td>
    <% if league_admin? %>
      	<td><%= link_to 'Edit', edit_profile_path(profile) %></td>
  	<% end %>
    <td><%= profile.first %></td>
    <td><%= profile.last %></td>
    <td><%= profile.paid %></td>
    <td><%= profile.picks_left %></td>
	
	<% if league_admin? %>
    <td><%= link_to 'Destroy', profile, :confirm => 'Are you sure?', :method => :delete %></td>
	<% end %>
	
	<% (1..17).each do |week| %>
	<td>
    <% weekly_picks(profile, week).each do |pick| %>
      <% if pick.has_winner? %>
        <% if pick.good_pick? %>
          <div id="winner">W 
        <% else %>
          <div id="loser">L 
        <% end %>
      <% else %>
      <div>
      <% end %>
      <%= Team.find_by_id(pick.team_id).name%><br />
      </div>
    <% end %>
  </td>      
  <% end %>

  </tr>
<% end %>
</table>

<br />
<% unless has_profile? %>
<%= link_to 'New Profile', new_profile_path %>
<% end %>