<h1>Listing Players</h1>

<table>
  <tr>
    <th></th>
    <% if league_admin? %><th></th><% end %>
    <th>First Name</th>
    <th>Last name</th>
    <th>Paid</th>
    <th>Favorite Team</th>
    

    <th></th>
  </tr>

<% @profiles.each do |profile| %>
  <tr>
    <td><%= link_to 'View', profile %></td>
    <% if league_admin? %>
      	<td><%= link_to 'Edit', edit_profile_path(profile) %></td>
  	<% end %>
    <td><%= profile.first %></td>
    <td><%= profile.last %></td>
    <td><%= profile.paid %></td>
    <td><%= Team.find_by_id(profile.favorite).name %></td>
	
	<% if league_admin? %>
    <td><%= link_to 'Destroy', profile, :confirm => 'Are you sure?', :method => :delete %></td>
	<% end %>
  </tr>
<% end %>
</table>

<br />
<% unless has_profile? %>
<%= link_to 'New Profile', new_profile_path %>
<% end %>