<h1>Join A League</h1>

<%= form_for(@membership) do |f| %>
  <% if @membership.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@membership.errors.count, "error") %> prohibited this membership from being saved:</h2>

      <ul>
      <% @membership.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<% unless @leagues.empty? %>

  <div class="field">
    <%= f.label :league_id %><br />
    <%= league = collection_select(:membership, :league_id, @leagues, :id, :name) %>
  </div>
  
  <div class="field">
    Number of Picks to Purchase<br />
    <%= select_tag(:num_of_picks, options_for_select(1..16)) %><br />
  </div>
<% if admin?(current_league) %>
  <div class="field">
    <%= f.label :paid %><br />
    <%= f.check_box :paid %>
  </div>
  <div class="field">
    <%= f.label :admin %><br />
    <%= f.check_box :admin %>
  </div>
<% end %>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
<% end %>

<%= link_to 'Back', memberships_path %>
