<%= form_for(@league) do |f| %>
  <% if @league.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@league.errors.count, "error") %> prohibited this league from being saved:</h2>

      <ul>
      <% @league.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="field">
    Name Of The League<br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
   Give your members the ability to repick a team from week to week:<br />
    <%= f.check_box :repick %> <%= f.label :repick %>
  </div>
  <div class="field">
    Make status of payment public:<br />
    <%= f.check_box :show_paid %> <%= f.label :show_paid %>
  </div>
  <div class="field">
    Make member pick history public:<br />
    <%= f.check_box :show_history %> <%= f.label :show_history %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
