<h1>Listing leagues</h1>

<table>

  <tr>
    <th>League Name</th>
    <th>Repick</th>
    <th>Show Paid</th>
    <th>Show History</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @leagues.each do |league| %>
  <tr>
    <td><%= league.name %></td>
    <td><%= league.repick %></td>
    <td><%= league.show_paid %></td>
    <td><%= league.show_history %></td>
    <td><%= link_to 'Show', league %></td>
    <% if admin?(league) %>
    <td><%= link_to 'Edit', edit_league_path(league) %></td>
    <td><%= link_to 'Destroy', league, :confirm => 'Are you sure?', :method => :delete %></td>
    <% end %>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New League', new_league_path %>
