<p id="notice"><%= notice %></p>

<p>
  <b>Admin:</b>
  <%= @league.admin %>
</p>

<p>
  <b>Repick:</b>
  <%= @league.repick %>
</p>


<%= link_to 'Edit', edit_league_path(@league) %> |
<%= link_to 'Back', leagues_path %>
