<h1>Listing Games for Week <%= @week_num %></h1>
<h2>Picks Remaining: <%= picks_remaining(@week_num) %></h2>

<%= render "weeks" %>

<table>
  <tr>
    <th>Matchup</th>
    <th>Winner</th>
    <th>Time</th>
  </tr>

<% @matchups.each do |matchup| %>
  <tr>
    <td><%= link_to getFullName(matchup.away), :controller => "picks", :action => "new", :week => @week_num, :team_id => matchup.away, :league_id => current_league.id %> @ 
    <%= link_to getFullName(matchup.home), :controller => "picks", :action => "new", :week => @week_num, :team_id => matchup.home, :league_id => current_league.id %></td>
    
        <% if Team.find_by_id(matchup.winner)%>
    <td><%= getFullName(matchup.winner) %></td>
        <% else %>
        <td>TBD</td>
        <% end %>
        
    <td><%= matchup.time.to_formatted_s(:short) %> PM</td>
  </tr>
<% end %>
</table>

<% unless @picks.empty? %>
  <%= render "selected" %>
<% end %>